---
import TopNavigationMenu from '@/components/ui/top-navigation-menu'

import NavigationMenu from '@/components/NavigationMenu'
import DarkMode from '@/components/DarkMode'
import { LanguageDropdown } from '@/components/ui/language-dropdown'
import { Button } from "@/components/ui/button"
import { Icons } from '@/components/ui/icons'
import {
  DropdownMenu,
  DropdownMenuContent,
  DropdownMenuItem,
  DropdownMenuLabel,
  DropdownMenuSeparator,
  DropdownMenuTrigger,
} from "@/components/ui/dropdown-menu"

import { Image } from 'astro:assets'
import SkilltiesLogo from '@/assets/skillties-logo.webp'
import SkilltiesWhiteLogo from '@/assets/skillties-logo-white.webp'
---
<header class="sticky top-0 z-50 w-full border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 px-10">
            <a href="/" class="flex rtl:space-x-reverse">
                <Image height={50} src={SkilltiesLogo} loading="eager" class="block dark:hidden" alt="Skillties logo." />
                <Image height={50} src={SkilltiesWhiteLogo} loading="eager" class="hidden dark:block" alt="Skillties logo." />
            </a>
            <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">

                <div class="relative inline-block text-left">

                    <LanguageDropdown client:load/>

                </div>
                <div class="mr-10">
                    <DarkMode client:load/>
                </div>

                <form action="/en/login">
                    <Button className="ml-8"><Icons.enter className="mr-3"/>Login</Button>
                </form>
              
            
                <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                <NavigationMenu client:load/>
            </div>
        </div>
    </nav>
</header>
